---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Sobre m칤">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Sobre m칤"
      description="Hola 游녦 soy Amador R칩driguez, un apasionado escritor de novelas que buscan explorar lo m치s profundo de la condici칩n humana. Mi amor por la literatura comenz칩 desde muy joven, y a lo largo de los a침os he trabajado en perfeccionar mi estilo narrativo, creando historias que invitan a la reflexi칩n y entretienen a la vez."
      details="Mis influencias incluyen desde cl치sicos de la literatura hasta escritores contempor치neos, y cada obra que escribo est치 cargada de emoci칩n, misterio y un toque de realismo m치gico."
    />

    <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Mis novelas
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, loop) => {
          return (
            <>
              {loop == 0 || loop == 1 ? (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              ) : (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              )}
            </>
          )
        })
      }
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Contactemos</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Si deseas ponerte en contacto conmigo, escribeme en <a
        href="https://www.facebook.com/amador.rodrigueznavalon"
        target="_blank"
        class="text-indigo-600 underline">facebook</a
      >, o puedes enviarme un correo a <a href="mailto:amarodnav@live.com" class="text-indigo-600 underline"
        >amarodnav@live.com</a
      > y me asegurar칠 de responderte.
    </p>
  </section>
</Layout>
